body{
  background:#c46217;
  font-size: 22px;
  font-family: Arial;
  display: inline-block;
}
table{
  border-collapse: collapse;
  width: 1000px;
  margin-top: 30px;
  height: 20px;
  margin-left: 250px;
  text-align: center;
}
table th{
  background-color: slategrey;
  height: 40px;
}
table td{
  font-size: 18px;
  height: 20px;
}
.mon{
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
}
.mon select{
  width: 200px;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid slategrey;
}
.mon input{
  padding: 6px;
  background-color: slategrey;
  width: 100px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: Arial;
}
.year input{
  background-color: white;
  padding: 6px;
}
.year{
  margin-bottom: 10px;
  text-align: center;
}
.tab{
  margin: 0;
  padding: 0;
  display:flex;
  margin-top:50px;
  width:100%;
  border: none;
}
.tab th{
  height:50px;
}
.tab td{
  height: 50px;
  padding: 6px;
}

.go a{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  background-color: slategrey;
}
.no{
   transform: translateY(-410%);
}
.no a{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  background-color: slategrey;
}
.last{
  margin-top: 200px;
  width: 500px;
  transform: translate(40%);
}
.down{
  transform: translateY(1900%);
}
.down a{
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: none;
  border: 2px solid black;
  cursor: pointer;
  background-color: slategrey;
}
