body{
background:#c46217;
background-size:500% 500%;
}

h1{
font-size: 2.3em;
text-align: center;
margin-bottom:20px;
font-family:Arial;
}
.Emp_id {
  padding: 0px;
  text-align: center;
  color:black;
  margin: 0;
  font-size: 20px;
  font-family:Arial;
}
.Emp_id input{
  width: 220px;
  padding:5px;
  margin-top:10px;
  margin-left: 10px;
  border-color:#9fc2ff;
}
#pdf_1{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_2{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_3{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_4{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_5{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_6{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_7{
color:black;
font-size: 15px;
margin-left: 150px;
}
#pdf_8{
color:#320213;
font-size: 15px;
margin-left: 150px;
}
#pdf_9{
color:#320213;
font-size: 15px;
margin-left: 150px;
}
#pdf_10{
color:#320213;
font-size: 15px;
margin-left: 150px;
}
@media (max-width:768px) {
  .Emp_id{
    margin-right: 50px;
  }
  .Emp_id input{
    margin-left:70px;
  }
  #pdf_1{
    align-items:center;
    font-size: 13px;
    margin-left:100px;
   }
   #pdf_2{
     align-items:center;
     font-size: 13px;
     margin-left:100px;
    }
    #pdf_3{
      align-items:center;
      font-size: 13px;
      margin-left:100px;
     }
     #pdf_4{
       align-items:center;
       font-size: 13px;
       margin-left:100px;
      }
      #pdf_5{
        align-items:center;
        font-size: 13px;
        margin-left:100px;
       }
       #pdf_6{
         align-items:center;
         font-size: 13px;
         margin-left:100px;
        }
        #pdf_7{
          align-items:center;
          font-size: 13px;
          margin-left:100px;
         }
         #pdf_8{
           align-items:center;
           font-size: 13px;
           margin-left:100px;
          }
          #pdf_9{
            align-items:center;
            font-size: 13px;
            margin-left:100px;
           }
           #pdf_10{
             align-items:center;
             font-size: 13px;
             margin-left:100px;
            }
}
.sec{
  text-align: center;
  padding: 0;
  margin-left:70px;
  color:black;
  font-size: 20px;
  font-family:Arial;
}
.sec select{
background:white;
text-align: center;
font-size: large;
color:black;
width:250px;
border-color:#9fc2ff;
padding:3px;
border-radius: 2px solid;
box-shadow: 0 5px 25px rgba(0,0,0,.5);
}
@media (max-width:769px){
  .sec{
    padding: 0px;
    margin-right: 200px;
    color:black;
    font-size: 20px;
    font-family:Arial;
      }
    .sec select{
      margin-top: 10px;
    }
}
.yee {
  padding: 0px;
  color:black;
  margin-left:90px;
  text-align: center;
  font-size: 20px;
  font-family:Arial;
}
.yee input{
  width: 240px;
  padding:4px;
  border-color:#9fc2ff;
  background-color: white;
font-size: large;
}
@media (max-width:769px){
.yee{
  float: left;
  margin-left: 50px;
  display: inline;
}
.yee input{
  margin-top: 10px;
}
}
.ff{
  font-size: large;
  text-align: center;
  border: none;
}
.ff input{
  font-size: large;
  padding:6px;
  margin-left: 250px;
  border: none;
  color:blue;
  cursor: pointer;
}
@media (max-width:768px){
  .ff{
    float: right;
    margin-right:-50px;
  }
}
.button {
  border-radius: 5px;
  border-color:purple;
  color: black;
  background-color: slategrey;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  margin-left:570px;
  padding:6px;
  width: 350px;
  cursor: pointer;
}
@media (max-width:768px) {
  .button{
    padding:6px;
    width: 200px;
    margin-top: 30px;
    margin-left: 80px;
  }
}

.button1{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   padding:8px;
   font-size: 20px;
   font-family:Arial;
   width:150px;
   font-style: 10px;
   background: slategrey;
   cursor: pointer;
   margin-top: 160px;
   font-size: 1.7em;
}
.button1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media (max-width:768px) {
  .button1{
    width:35%;
    padding: 6px;
   }
}
.button2{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   padding:8px;
   float: right;
   font-size: 20px;
   font-family:fantasy;
   width:150px;
   font-style: 10px;
   background: slategrey;
   cursor: pointer;
   margin-top: 160px;
   font-size: 1.7em;
}
.button2:hover{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media (max-width:768px) {
  .button2{
    width:35%;
      padding: 6px;
  }
}

hr{
    color:black;
      border-style: inset;
  border-width: 1px;
}
